<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h4>Top 10 Crypto Currencies</h4>
    <div class="table-responsive">

      
    <table id="mytable" class="table table-bordred table-striped">
         
      <thead>
         
        <th>#</th>
        <th>Currency Code</th>
        <th>Currency Name</th>
        <th>Market Cap</th>
        <th>Value(in USD)</th>
      </thead>

      <tbody>
      
        <% @data.each_with_index do |row, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= row[:symbol] %></td>
            <td><%= row[:name] %></td>
            <td><%= row[:quote][:USD][:market_cap] %></td>
            <td><%= row[:quote][:USD][:price] %></td>
          </tr>
        <% end %>
      </tbody>
        
    </table>

    <div class="clearfix"></div>
<!--     <ul class="pagination pull-right">
      <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
    </ul> -->
                
  </div>
            
        </div>
    </div>
</div>