<div class="container">
  <div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
      <div class="box">
        <div class="shape1"></div>
        <div class="shape2"></div>
        <div class="shape3"></div>
        <div class="shape4"></div>
        <div class="shape5"></div>
        <div class="shape6"></div>
        <div class="shape7"></div>

        <div class="float">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form'}) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: 'text-white' %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: 'text-white' %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>

          <!--   <%# if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%#= f.check_box :remember_me, class: 'form-control' %>
                <%#= f.label :remember_me, class: 'text-white' %>
              </div>
            <%# end -%> -->

            <div class="form-group">
              <%= f.submit "Log in", class: 'btn btn-info btn-md' %>
                <%- if devise_mapping.omniauthable? %>
                  <%- resource_class.omniauth_providers.each do |provider| %>
                  <%= link_to "Login With Google", omniauth_authorize_path(resource_name, provider), class: 'btn btn-danger btn-md' %><br />
                <% end -%>
              <% end -%>
            </div>
            <div class="form-group">

            </div>  
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<%#= render "devise/shared/links" %>
