<% flash.each do |key, value| %>
  <% if key.eql?('alert') %>
    <%= content_tag(:div, class: "alert alert-danger", 'data-type' => "#{key}") do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
    <% end %>
  <% else %>
    <%= content_tag(:div, class: "alert alert-success", 'data-type' => "#{key}") do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
    <%end%>
  <% end %>
<% end %>