<!DOCTYPE html>
<html>
  <head>
    <title>Coin Stats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/flash_messages' %>
    <%= yield %>
  </body>
</html>
